<% provide(:title, 'Contact') %>
<h1>Contact Us</h1>
    <p>
      Discuss and find new stuff at our community
      <a href="http://rubyonrails.org/community/">Rails Community</a>.
      
    </p>