<% provide(:title, 'Home') %>
    <div class="center hero-unit">
      <h1>Welcome to the Document Hub!</h1>

      <h2>
        You can find amazing CS documents exactly you want and share with friends.
        <!-- <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a> -->
      </h2>
      <%= link_to "Sign up now!", signup_path , class: "btn btn-large btn-primary" %> 
    </div>
    <%= link_to image_tag("document_hub", alt: "Document Hub"), 'http://rubyonrails.org/' %>